<h1>Autenticación firebase</h1>
<p>Uriel Ulises Acosta Olvera</p>

<div class="container">
  <div id="recaptcha-container" style="margin-left: 20px;"></div>
  <form id="contactus" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Datos personales</h3>
    <fieldset>
      <input placeholder="celular" type="text" tabindex="1" name=correo required autofocus formControlName="celular">
    </fieldset>
    <fieldset>
      <button type="submit" id="contactus-submit" data-submit="...Sending">Enviar mensaje</button>
    </fieldset>

  </form>
</div>

<br>

@if (confirmSMS) {
  <div class="container">
    <div id="recaptcha-container" style="margin-left: 20px;"></div>
    <form id="contactus" [formGroup]="formConfirmationSMS" (ngSubmit)="onConfirm()">
      <h3>Confirmación</h3>
      <fieldset>
        <input placeholder="Verificacion" type="text" tabindex="1" name=verifcation required autofocus formControlName="SMScode">
      </fieldset>
      <fieldset>
        <button type="submit" id="contactus-submit" data-submit="...Sending">Enviar mensaje</button>
      </fieldset>
      
    </form>
  </div>
}